{
  "extends": [
    "@t3n/eslint-config",
    "@t3n/eslint-config-react",
    "@t3n/eslint-config-typescript"
  ],
  "rules": {
    "no-use-before-define": "off",
    "no-underscore-dangle": "off"
  }
}
